<!DOCTYPE html>
<html id="darkmode" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>plshelp</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/body.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>

<body id="body">
	<div>
		<div class="content-wrap">
			<!-- navbar -->
			<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a id="text" class="navbar-brand ml-2" href="{{domain}}">plshelp</a>
					<div>
						<a class="btn btn-dark btn-sm" href="/text">Log upload</a>
						<a class="btn btn-dark btn-sm" href="/logs">Analysis history</a>
					</div>
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
						<label class="onoffswitch-label" id="onoff" for="myonoffswitch" onclick="DarkModeIndex()">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</nav>
			<!--Page Content-->
			<div id="container" class="margin pt-5">
				<h1 id="title" class="title-light">URL of your paste.gg/pastebin.com link:</h1>
				<form action="/show" method="post">
					<div class="form-group">
						<div class="url-box">
							<input type="text" class="form-control" name="url" id="url" autocomplete="off" placeholder="Link"></input>
						</div>
						<p></p>
						<input id="parse" type="submit" class="btn btn-dark shadow mt-2" value="Parse"></input>
					</div>
				</form>
			</div>
			<!-- Footer -->
			<footer id="footer" class="footer-light">
				<p class="mobile-optimize mt-2">
					Made with ❤️ by <a href="https://github.com/zlataovce">zlataovce</a> and the <a href="https://screamingsandals.org/discord">ScreamingSandals community</a>
				</p>
			</footer>
		</div>

</body>

</html>
