<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a id="text" class="navbar-brand ml-2" href="{{domain}}" style="min-height: 2.5rem; /* i hate this */">plshelp</a>
		<div>
			<a class="btn btn-dark btn-sm" href="/text">Log upload</a>
			<a class="btn btn-dark btn-sm" href="/logs">Analysis history</a>
		</div>
		<div class="onoffswitch">
			<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
				tabindex="0" checked>
			<label class="onoffswitch-label" for="myonoffswitch" id="onoff" onclick="DarkModeShow()">
				<span class="onoffswitch-inner"></span>
				<span class="onoffswitch-switch"></span>
			</label>
		</div>
	</div>
</nav>