<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Parsed Info</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript">
		function copyToClipboard(element) {
			var $temp = $("<input>");
			$("body").append($temp);
			$temp.val($(element).text()).select();
			document.execCommand("copy");
			$temp.remove();
		}
	</script>
</head>
<body>
	<div class="container is-fluid" style="padding-top: 32px; padding-bottom: 32px;">
		<div class="box">
			<h3 style="padding-bottom: 10px;"><strong>plshelp analysis</strong></h3>
			<p id="sharelink" style="display: none;">{{share_url}}</p>
			<p id="pastelink" style="display: none;">{{paste_url}}</p>
			<p>
				<button class="button is-link" onclick="copyToClipboard('#sharelink')" style="padding-top: 10px;">Copy analysis link</button>
				<button class="button is-link" onclick="copyToClipboard('#pastelink')" style="padding-top: 10px;">Copy paste link</button>
			</p>
		</div>
		<div class="box">
			<h3 style="padding-bottom: 10px;"><strong>Plugins:</strong></h3>
			{% for plugin in plugins %}
			<div style="font-family: monospace, sans-serif; font-size: 12px; font-color: white;">{{plugin}}</div>
			{% endfor %}
		</div>
		<div class="box">
			<h3 style="padding-bottom: 10px;"><strong>Errors:</strong></h3>
			{% for error in errors %}
			<div style="font-family: monospace, sans-serif; font-size: 12px;">{{error}}</div>
			{% endfor %}
		</div>
		<div class="box">
			<div class="subtitle" style="font-size: 16px;"><strong>Minecraft Version:</strong> {{minecraft_version}}</div>
			<div class="subtitle" style="font-size: 16px;"><strong>Server software:</strong> {{server_software}}</div>
			<div class="subtitle" style="font-size: 16px;"><strong>Reloaded:</strong> {{reload}}</div>
			<div class="subtitle" style="font-size: 16px;"><strong>Needs newer Java:</strong> {{needs_newer_java}}</div>
		</div>
		<div class="box">
			<h3 style="padding-bottom: 10px;"><strong>ScreamingBedWars extension:</strong></h3>
			<div class="subtitle" style="font-size: 16px;"><strong>Wrong shop.yml config:</strong> {{sbw_wrongshop}}</div>
		</div>
	</div>
</body>
</html>
