<!DOCTYPE html>
<html id="body" lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>plshelp | info</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/body.css') }}">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
	<script type="text/javascript">
		$(document).ready(function() {
			if (localStorage.getItem("logs") === null) {
				var logs = [];
			} else {
				var logs = JSON.parse(localStorage.getItem("logs"));
			}
			if (!logs.includes("{{paste_url}}")) {
				logs.push("{{paste_url}}")
				localStorage.setItem("logs", JSON.stringify(logs));
			}
		});
	</script>
	<style>
		h2 {
			font-size: 20px;
		}

		.body-dark body {
			background-color: #2f3136;
		}

		.title-dark {
			background-color: #2f3136 !important;
		}
	</style>
</head>

<body>
	<div id="body">
		<nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container-fluid">
				<a id="text" class="navbar-brand ml-2" href="{{domain}}">plshelp</a>
				<div>
					<a class="btn btn-dark btn-sm" href="/text">Log upload</a>
					<a class="btn btn-dark btn-sm" href="/logs">Analysis history</a>
				</div>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch"
						tabindex="0" checked>
					<label class="onoffswitch-label" for="myonoffswitch" id="onoff" onclick="DarkModeShow()">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
		</nav>
		<div id="card-background" class="container rounded pt-5 pb-5">
			<div id="card1" class="card w-100 card-box">
				<div class="card-body shadow">
					<h2 id="title2" class="title"><strong>plshelp analysis</strong></h2>
					<div class="mt-3">
						<p id="sharelink" style="display: none;">{{share_url}}</p>
						<p id="pastelink" style="display: none;">{{paste_url}}</p>
					</div>
					<p>
						<button class="btn btn-dark mt-2" onclick="copyToClipboard('#sharelink')">Copy analysis link</button>
						<button class="btn btn-dark mt-2" onclick="copyToClipboard('#pastelink')">Copy paste link</button>
						<button id="modetoggle" class="btn btn-dark mt-2" onclick="toggleviewMode(this, 'error-wrapper-simple', 'error-wrapper-advanced')">Simple mode</button>
					</p>
				</div>
			</div>
			<div id="card2" class="card w-100 mt-4">
				<div class="card-body shadow">
					<h2 id="title2" class="mb-2"><strong>Plugins:</strong></h2>
					<div id="plugin-wrapper">
						{% for plugin in plugins %}
						<div class="monospace-light">{{plugin}}</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div id="card3" class="card w-100 mt-4">
				<div class="card-body shadow errors-light">
					<h2 id="title2" class="mb-2"><strong>Suspected errors:</strong></h2>
					<div id="error-wrapper-simple" class="d-none">
						{% for key, value in classifiederrors.items() %}
							{% set randomid = range(1, 200000) | random %}
							<div id="smalltitle" class="subtitle-light mb-2 mt-2 noselect" onclick="toggleVisibility('plugin-block{{randomid}}', this)"><strong>{{key}} ⯆</strong></div>
							<div id="plugin-block{{randomid}}" class="mobile-optimize-pg d-none">
								{% if value is none %}
									<div id="error" class="monospace-light">No errors</div>
								{% else %}
									{% for e in value %}
										<div id="error" class="monospace-light">{{e}}</div>
									{% endfor %}
								{% endif %}
							</div>
						{% endfor %}
					</div>
					<div id="error-wrapper-advanced">
						<div id="plugin-block-advanced" class="mobile-optimize-pg">
							{% for i in errors %}
								<div id="error" class="monospace-light">{{i}}</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
			<div id="card4" class="card w-100 mt-4">
				<div class="card-body shadow errors-light">
					<h2 id="title2"><strong>Other Info:</strong></h2>
					<div id="info1" class="subtitle-light"><strong>Minecraft Version:</strong> {{minecraft_version}}</div>
					<div id="info2" class="subtitle-light"><strong>Server software:</strong> {{server_software}}</div>
					<div id="info3" class="subtitle-light"><strong>Reloaded:</strong> {{reload}}</div>
					<div id="info4" class="subtitle-light"><strong>Needs newer Java:</strong> {{needs_newer_java}}</div>
				</div>
			</div>
		{% block body %}
		{% if sbw_wrongshop %}
		<div id="card5" class="card w-100 mt-4">
			<div class="card-body shadow errors-light">
				<h2 id="title2"><strong>ScreamingBedWars extension:</strong></h2>
				<div class="subtitle-light" id="info5"><strong>Wrong shop.yml config:</strong>
					{{sbw_wrongshop}}</div>
			</div>
		</div>
		{% endif %}
		{% endblock %}
		</div>
		<br></br>
		<footer id="footer" class="footer-light">
			<p class="mobile-optimize mt-2">
				Made with ❤️ by <a href="https://github.com/zlataovce">zlataovce</a> and the <a href="https://screamingsandals.org/discord">ScreamingSandals community</a>
			</p>
		</footer>
	</div>

</body>

</html>
